24-hr_clock_widget - Shortcut.lnk
fitbit_hr_intraday.json
fitbit_sleep_logs.json
fitbit_summary.json
__pycache__/
fitbit_tokens.json
24-hr_clock_widget.code-workspace
saved_curves/
.idea/24-hr_clock_widget.iml
.idea/markdown.xml
.idea/misc.xml
.idea/modules.xml
.idea/planningMode.xml
.idea/vcs.xml
.idea/caches/deviceStreaming.xml
.idea/.gitignore

credentials.json
token.json

performance_profile.log
/24_hr_clock_android
24_hr_clock_android
